<div class="ngx-mat-drp-calendar-container">
    <div class="ngx-mat-drp-calendar-item">
        <calendar-wrapper
            [prefixLabel]="startDatePrefix"
            [selectedDate]="fromDate"
            [minDate]="fromMinDate"
            [maxDate]="fromMaxDate"
            (selectedDateChange)="updateFromDate($event)"
        >
        </calendar-wrapper>
    </div>
    <div class="ngx-mat-drp-calendar-item">
        <calendar-wrapper
            [prefixLabel]="endDatePrefix"
            [selectedDate]="toDate"
            [minDate]="toMinDate"
            [maxDate]="toMaxDate"
            (selectedDateChange)="updateToDate($event)"
        >
        </calendar-wrapper>
    </div>
    <div class="ngx-mat-drp-calendar-item">
        <div class="ngx-mat-drp-menu">
            <hc-radio-group (change)="updateRangeByPreset($event)" [(ngModel)]="selectedPreset">
                <hc-radio-button *ngFor="let p of presets" [value]="p.range">{{p.presetLabel}}</hc-radio-button>
            </hc-radio-group>
            <div class="ngx-mat-drp-controls">
                <button hc-button buttonStyle="link" (click)="discardNewDates($event)" [title]="cancelLabel">
                    {{ cancelLabel }}
                </button>
                <button hc-button buttonStyle="primary" (click)="applyNewDates($event)" [title]="applyLabel">
                    {{ applyLabel }}
                </button>
            </div>
        </div>
    </div>
</div>
