<hc-navbar appIcon="./assets/CashmereAppLogo.svg" brandIcon="./assets/TriFlame.svg" user="Christine K." homeUri="/"
  [fixedTop]="true">
  <hc-app-switcher brandIcon="./assets/TriFlame.svg"></hc-app-switcher>
  <hc-navbar-link [active]="true" uri="/" linkText="Home"></hc-navbar-link>
  <hc-navbar-link [active]="false" uri="/" linkText="Oncology"></hc-navbar-link>
  <hc-navbar-link [active]="false" uri="/" linkText="Surgery"></hc-navbar-link>
  <hc-navbar-link [active]="false" uri="/" linkText="Pediatric"></hc-navbar-link>
  <hc-navbar-link [active]="false" uri="/" linkText="Cardiovascular"></hc-navbar-link>
  <hc-navbar-link [active]="false" uri="/" linkText="Rehabilition"></hc-navbar-link>
  <hc-navbar-link [active]="false" uri="/" linkText="Intensive Care"></hc-navbar-link>
  <div class="navbar-item">
    <hc-icon fontSet="fa" fontIcon="fa-search"></hc-icon>
  </div>
  <div class="navbar-item">
    <hc-icon fontSet="fa" fontIcon="fa-question-circle-o" [hcPopover]="options" popperPlacement="bottom"></hc-icon>
  </div>
  <span class="vertical-separator"></span>
  <div class="navbar-item" *ngIf="user">
    <span>{{user}}</span>
  </div>
  <hc-navbar-mobile-menu>
    <hc-list>
      <hc-list-item routerLink="/" routerLinkActive="active-link">
        <span hcListLine>Home</span>
      </hc-list-item>
      <hc-list-item routerLink="/" routerLinkActive="active-link">
        <span hcListLine>Oncology</span>
      </hc-list-item>
      <hc-list-item routerLink="/" routerLinkActive="active-link">
        <span hcListLine>Surgery</span>
      </hc-list-item>
      <hc-list-item routerLink="/" routerLinkActive="active-link">
        <span hcListLine>Pediatric</span>
      </hc-list-item>
      <hc-list-item routerLink="/" routerLinkActive="active-link">
        <span hcListLine>Cardiovascular</span>
      </hc-list-item>
      <hc-list-item routerLink="/" routerLinkActive="active-link">
        <span hcListLine>Rehabilition</span>
      </hc-list-item>
      <hc-list-item routerLink="/" routerLinkActive="active-link">
        <span hcListLine>Intensive Care</span>
      </hc-list-item>
    </hc-list>
    <hr>
    <hc-list>
      <a href="https://github.com/HealthCatalyst/Fabric.Cashmere">
        <hc-list-item>
          <span hcListLine>View on GitHub</span>
        </hc-list-item>
      </a>
    </hc-list>
    <hc-app-switcher-links></hc-app-switcher-links>
  </hc-navbar-mobile-menu>
</hc-navbar>

<hc-popover-content #options>
  <ul class="list-options">
    <li>
      <a href="" target="_blank">Help Topics</a>
    </li>
    <li>
      <a href="" target="_blank">Release Notes</a>
    </li>
    <li>
      <a href="" target="_blank">About</a>
    </li>
    <li>
      <a href="https://community.healthcatalyst.com/" target="_blank">Health Catalyst Community</a>
    </li>
    <li>
      <a href="" target="_blank">Send us your feedback</a>
    </li>
  </ul>
</hc-popover-content>