<div class="form-container">
    <hc-form-field class="calendar-wrapper-form-field">
        <hc-label [innerText]="prefixLabel"></hc-label>
        <input hcInput matDatepicker [(ngModel)]="selectedDate" required (dateChange)="onInputChange($event)"/>
        <hc-error>Please enter valid date</hc-error>
    </hc-form-field>
</div>
<mat-calendar
    [startAt]="selectedDate"
    [selected]="selectedDate"
    [minDate]="minDate"
    [maxDate]="maxDate"
    (selectedChange)="onCalendarChange($event)"
    [dateFilter]="weekendFilter"
>
</mat-calendar>
